@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 기본디자인 */
:root /* 피그마 스타일처럼 변수를 선언해서 사용할 수 있다. (댜양한 변수를 선언)*/ {
    --main-color: #133984;
    --title-color: #222; /* 진한회색 */
    --text-color: #666;
    --line-color: rgba(0, 0, 0, 0.2);
    --h1: 40px;
    font-size: 100%; /* fz100p = 16px */
}

a {
    text-decoration: none; /* tdn */
    color: inherit;
}

a:hover {
    text-decoration: none; /* tdn */
    color: var(--main-color); /* #133984 -> var로 선언한 변수의 색 가져오기 */
}

body {
    font: 1rem /* =16px *//1.3 Pretendard, sans-serif;
    color: var(--text-color); /* 변수명만 가져오면 var이 자동으로 딸려옴; */
}

.hidden {
    /* poa+m-1+w1+h1+oh */
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* css hidden명령 중에 네이버가 이용했던 방법 */
}

/* 디자인 시작 */

#header /* id는 # / class는 . */ {
    /* h91+bdb+bg#fff */
    height: 91px;
    border-bottom: 1px solid var(--line-color); /* rgba(0, 0, 0, 0.2) */
    background: #fff;
}

.inner {
    /* w1200+m0-a+bg#ff5 */
    width: 1200px;
    margin: 0 auto;
    background: #ff5;
    height: 100%; /* h100p (세로크기 상속) */
}

#header nav {
    display: flex; /* df */
    justify-content: space-between; /* jcsb */
    /* background: orange; */
    height: 100%; /* h100p (세로크기 상속) */
    align-items: center; /* aic : 교차축방향 정렬 */
}

.gnb {
    display: flex; /* df : 플렉스박스 */
    margin-left: auto; /* mla (왼쪽으로 쪽 밀어버린다 바로 왼쪽에 있는 요소를;) */
    margin-right: 4px; /* 디자인과 똑같이 맞추려면 오른쪽으로 4px정도 밀어버림 */
}

.gnb li a {
    /* db+p10+bd */
    display: block;
    padding: 10px 22px;
    /* border: 1px solid #000; */
    font-weight: 700; /* fw700 */
    color: var(--title-color);
}

.util-menu {
    align-self: flex-start; /* as -> 셀프로 aic해제 (너만 위로 올라가)*/
}
.util-menu > a {
    /* db+p37-29-11+bdl */
    display: block;
    padding: 37px 29px 11px;
    border-left: 1px solid var(--line-color);
}

.visual {
    /* h496+bg */
    height: 496px;
    background: tomato;
}

.slider {
    height: 100%; /* h100p (부모크기 상속 {visual에서}) */
    position: relative; /* 직계조상 기준점 */
}

.slide-img {
    height: 100%;
}

.slide-img img {
    /* w100p+h100p */
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율유지하면서 보기에 적정하게 바뀜; */
}

.slide-btn {
    /* poa+t50p+w70+h70+bd#fff */
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    transform: translateY(-50%); /* trfty -> 자기 자신의 절반값을 올림 */
    background: no-repeat 50%;
    color: transparent;
    /* background-size: contain; */
    background-size: 30% auto; /* css에서 이미지를 넣으면 위치 선정이 쉽고 내가 이미지를 줄일 수 있다는 장점이 있음(들어가는 공간을 기준으로함). 
    auto -> 비율 유지하면서 자동고정 */
}

.btn-prev {
    left: 30px; /* l30 */
    background-image: url(../img/icon_ar_l.png);
}

.btn-next {
    right: 30px; /* r30 */
    background-image: url(../img/icon_ar_r.png);
}
