@charset "utf-8";

* {
    /* m0+p0+bxbb */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    /* lisn */
    list-style: none;
}

img,
iframe {
    /* vat */
    vertical-align: top;
}

.dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none; /* 제이커리를 위해서 */
}

.video-wrap {
    /* pof+t50p+l50p+trft */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #000;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    user-select: none;
}

.video-wrap.active {
    top: 50%;
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}

.video {
    width: 1024px;
    aspect-ratio: 16/9;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.caption {
    background: #000;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.btn-close {
    /* poa+t0+r0+w70+h70+bg */
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    height: 70px;
    background: #000;
    border: none;
    cursor: pointer;
    color: #fff;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-list {
    /* background: #5f5; */
    width: 80%;
    display: flex;
    gap: 80px;
}

.video-list li {
    flex: 1 1 20%;
    border: 5px solid #000;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff;
}
