@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-wrap {
    width: 90%;
    margin: 50px auto;
    border: 10px solid #000;
}

.top-slider {
    height: 600px;
}
.bottom-slider {
    height: 160px;
}

.swiper-slide-thumb-active {
    border: 5px solid #f00;
}
