@charset "utf-8";

* {
    /* m0+p0+bxbb */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    /* lisn */
    list-style: none;
}

img {
    /* vat+w100p+h100p+obf */
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 디자인 시작 */

.top-slider-wrap {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    border: 10px solid #000;
    position: relative;
}

.top-slider-wrap .top-slider {
    height: 100%;
}

.top-slider-wrap .btn-prev {
    /* poa+t50p+trfxy+l-70+w50+h50+bg+c#fff+cup+bdn */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -70px;
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: none;
}

.top-slider-wrap .btn-next {
    /* poa+t50p+trfxy+l-70+w50+h50+bg+c#fff+cup+bdn */
    position: absolute;
    bottom: -70px;
    transform: translateY(-50%);
    left: -70px;
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: none;
}
