@charset "utf-8";

* {
    /* m0+p0+bxbb */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    /* lisn */
    list-style: none;
}

img {
    /* vat+w100p+h100p+obf */
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 디자인 시작 */

.tob-slider {
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    border: 10px solid #000;
}
