@charset "utf-8";

:root {
    --primary-color: #ffdd2b;
    --point-color: #f5cc00;
    --text-color: #333;
    font-size: 62.5%; /* 1rem = 10px */
}

* {
    /* m0+p0+bxbb */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    /* vat+mxw100p */
    vertical-align: top;
    max-width: 100%;
}

.hidden {
    /* poa+m-1+w1+h1+oh+lh0+clip */
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    line-height: 0;
    clip: rect(0, 0, 0, 0);
}

body {
    font: 1.8rem/1.5 "Montserrat" sans-serif;
    color: var(--text-color);
    height: 100vh;
    text-transform: uppercase; /* 대문자 표시 */
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline; /* tdu */
    color: var(--point-color);
}

.inner {
    /* w90p+m0-a+h100vh */
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

header {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 90%;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 5rem;
    margin-left: auto;
    margin-right: 10rem;
    font-weight: 600;
}

.menu {
    /* db+w5r+h5r+bg */
    display: block;
    width: 5rem;
    height: 5rem;
    background: red url(../images/hamburger.svg) no-repeat 50%;
}

.bruce-lee-bg {
    /* poa+b-10r+l0+w45vw */
    position: absolute;
    bottom: -10rem;
    left: 0;
    width: 45vw;
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.bruce-lee {
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 37vw;
    pointer-events: none;
    user-select: none;
    filter: drop-shadow(2rem 3rem 2rem, rgba(0, 0, 0, 0.4));
}

.bruce-lee img,
.bruce-lee-bg img {
    width: 100%;
}

.title {
    /* poa+t50p+r0+trfty+fw800+fz9vw */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-weight: 800;
    font-size: 9vw;
}

.title strong {
    font-size: 8vw;
}

.title span {
    display: block;
    margin-top: -5rem;
    border: 1px solid red;
    position: relative; /* 작은 이소룡의 기준점 */
}

.title span b {
    color: var(--primary-color);
}

.small-bruce-lee {
    /* poa+t50p+r0 */
    position: absolute;
    top: 50%;
    right: 0;
}

footer {
    /* poa+b0+l50p+trftx+w90p+bg */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 14vw;
    background: skyblue;

    /* fz1.4r+fw600+df+jcfe+aic */
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foot-contents {
    border: 1px solid #000;
    text-align: right;
}

.sns-link {
    display: inline-flex;
    gap: 1.6rem;
}
.sns-link li a {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: no-repeat 50%;
}

.sns-link li:nth-child(1) a {
    background-image: url(../images/bi_facebook.png);
}
.sns-link li:nth-child(2) a {
    background-image: url(../images/entypo-social_youtube.png);
}
.sns-link li:nth-child(3) a {
    background-image: url(../images/instagram-filled.png);
}

.copyright {
    margin-top: 1rem;
}

.foot-box {
    /* poa+b0+l0+w100p+h8vw+bg */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vw;
    background: var(--primary-color);
}

.btn-skip {
    /* poa+l100+b50+bdn+p1.5r-3r+bg+c#fff+cup */
    position: absolute;
    left: 100px;
    bottom: 50px;
    border: none;
    padding: 1.5rem -3rem;
    background: #000;
    color: #fff;
    cursor: pointer;
}
