@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}
