@charset "utf-8";

.inner {
    /* w1180+m0-a+bg#ff5 */
    width: 1180px;
    margin: 0 auto;
    /* background: #ff5; */
}

#header {
    /* h104+bg#fff */
    /* height: 104px; */
    background: #fff;
}

#header nav {
    height: 104px;
    /* background: tomato; */
    display: flex; /* df : 플렉스 박스 */
    justify-content: space-between; /* jcsb : 여백 균등분배 */
    align-items: center; /* aic : 교차축 방향 기준 중앙정렬 */
}

.logo a {
    /* db+w225+h50+bg */
    display: block;
    width: 225px;
    height: 50px;
    background: url(../img/logo.png) no-repeat 0 50%;
}

.gnb {
    display: flex; /* df */
}

.gnb li a {
    /* db+p10-20+bd+fw700+c */
    display: block;
    padding: 0px 20px;
    border: 1px solid #000;
    font-weight: 700;
    color: var(--title-color);
}

.gnb li a b {
    background: tomato;
    display: block;
    padding: 10px 0;
    position: relative; /* after의 기준점 */
}

.gnb li a b::after {
    /* ct+poa+b0+l0+w100p+h3+bg */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(
        -50%
    ); /* trftx : 자기 크기의 절반을 반대로 움직이게 함 */
    width: 0%;
    height: 3px;
    background: var(--main-color);
    transition: var(--basic-transition);
}

.gnb li a:hover b::after {
    width: 100%; /* w100p로 늘려줌 */
}
.btn-search {
    /* w54+h54+bd */
    width: 54px;
    height: 54px;
    border: 1px solid #000;
    background: #fff url(../img/ico-search.png) no-repeat 50%;
}

.visual {
    /* mw1920+m0-a+h584 */
    min-width: 1920px;
    margin: 0 auto;
    height: 584px;
}

.visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    /* image-rendering: crisp-edges; or pixelated */
    /* object-position: 50% 20%; */
}

.sec-title {
    /* fw700+fz34+c+tac */
    font-weight: 700;
    font-size: 34px;
    color: var(--title-color);
    text-align: center;
}

.research {
    /* p80+0-66 */
    padding: 80px 0 66px;
    background: var(--gray-light);
}

.research-list {
    /* background: green; */
    margin-top: 61px;
    display: flex; /* 플렉스 박스 */
    flex-wrap: wrap; /* fxww : 부모가 자식을 감싸라! */
    gap: 20px; /* g20 */
}

.research-list li {
    /* border: 1px solid #000; */
    /* w380+h200 */
    width: 380px;
    height: 200px;
    /* flex-shrink: 0; 쉬링크 그로우 -> 줄어드는 가로 기본값(줄어들지 말아라) */
    background: #fff;
    padding: 36px 18px 36px 38px; /* p36-18-36-38 */
    position: relative; /* 기준점 -> 라인(4개)의  */
}

.research-list li a {
    display: flex;
    gap: 29px;
}
.research-list li a::before {
    /* ct+db+w71+h60+bg */
    content: "";
    display: block;
    width: 71px;
    height: 60px;
    background: no-repeat 50%;
    flex-shrink: 0;
}

.research-list li:nth-child(1) a::before {
    background-image: url(../img/research-icon01.png);
}
.research-list li:nth-child(2) a::before {
    background-image: url(../img/research-icon02.png);
}
.research-list li:nth-child(3) a::before {
    background-image: url(../img/research-icon03.png);
}
.research-list li:nth-child(4) a::before {
    background-image: url(../img/research-icon04.png);
}
.research-list li:nth-child(5) a::before {
    background-image: url(../img/research-icon05.png);
}
.research-list li:nth-child(6) a::before {
    background-image: url(../img/research-icon06.png);
}
.research-list li:nth-child(7) a::before {
    background-image: url(../img/research-icon07.png);
}
.research-list li:nth-child(8) a::before {
    background-image: url(../img/research-icon08.png);
}
.research-list li:nth-child(9) a::before {
    background-image: url(../img/research-icon09.png);
}

.research-list li dl dt {
    /* fw700+fz18+c */
    font-weight: 700;
    font-size: 18px;
    color: var(--title-color);
}
.research-list li dl dd {
    /* fz14+mt18 */
    font-size: 14px;
    margin-top: 18px;
}

/* 라인 호버 애니메이션 효과 */
.research-list li::before {
    /* ct+poa+t0+r0+w0p+h4+bg */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 4px;
    background: var(--main-color);
    transition: var(--basic-transition);
}
.research-list li::after {
    /* ct+poa+b0+l0+w0p+h4+bg */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: var(--main-color);
    transition: var(--basic-transition);
}

.research-list li:hover::before,
.research-list li:hover::after {
    width: 100%; /* w100p */
}

/* 라인 2개가 더 필요하므로, 절대 배치된 dl을 가져오는게 좋지 않을까? */

/* 공통 */
.research-list li dl::before,
.research-list li dl::after {
    /* ct+poa+w4+h0p+bg+trs.4s */
    content: "";
    position: absolute;
    width: 4px;
    height: 0%;
    background: var(--main-color);
    transition: var(--basic-transition);
}

/* 개별 */
.research-list li dl::before {
    /* t0+l0 */
    top: 0;
    left: 0;
}
.research-list li dl::after {
    /* b0+r0 */
    bottom: 0;
    right: 0;
}

.research-list li:hover dl::before,
.research-list li:hover dl::after {
    height: 100%; /* h100p */
}

.research-list li:hover {
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.2);
}

.join {
    /* mih690+bg */
    min-height: 690px;
    /* background: url(../img/process-bg.jpg) no-repeat 0 0; */
    background: url(../img/e-omong.jpg) no-repeat 0 0 / cover
        /* 비율 유지 & 꽉 채우기 */;
    background-attachment: fixed;
    position: relative; /* 기준점 : dim처리 */
    padding: 80px 0; /* p80-0 */
}

.join::after {
    /* ct+poa+t0+l0+w100p+h100p+bg */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.text-con {
    /* bg#f55 */
    /* background: #f55; */
    /* w650+mt119+c#fff */
    width: 650px;
    margin-top: 119px;
    color: #fff;
}

.join .inner {
    /* por+z1 */
    position: relative;
    z-index: 1; /* 포지션을 갖게 해서 z-index를 이용해 3차원으로 띄움 (단 absolute는 아니어야함 그래야 편해짐 미래에) */
}

.text-con h4 {
    /* fwb+fz44 */
    font-weight: bold;
    font-size: 44px;
}
.text-con p {
    /* fz20+mt31 */
    font-size: 20px;
    margin-top: 31px;
}
.text-con .more {
    /* mt34 */
    margin-top: 34px;
}
