@charset "utf-8";

.inner {
    /* w1180+m0-a+bg#ff5 */
    width: 1180px;
    margin: 0 auto;
    background: #ff5;
}

#header {
    /* h104+bg#fff */
    /* height: 104px; */
    background: #fff;
}

#header nav {
    height: 104px;
    /* background: tomato; */
    display: flex; /* df : 플렉스 박스 */
    justify-content: space-between; /* jcsb : 여백 균등분배 */
    align-items: center; /* aic : 교차축 방향 기준 중앙정렬 */
}

.logo a {
    /* db+w225+h50+bg */
    display: block;
    width: 225px;
    height: 50px;
    background: url(../img/logo.png) no-repeat 0 50%;
}

.gnb {
    display: flex; /* df */
}

.gnb li a {
    /* db+p10-20+bd+fw700+c */
    display: block;
    padding: 0px 20px;
    border: 1px solid #000;
    font-weight: 700;
    color: var(--title-color);
}

.gnb li a b {
    background: tomato;
    display: block;
    padding: 10px 0;
    position: relative; /* after의 기준점 */
}

.gnb li a b::after {
    /* ct+poa+b0+l0+w100p+h3+bg */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(
        -50%
    ); /* trftx : 자기 크기의 절반을 반대로 움직이게 함 */
    width: 0%;
    height: 3px;
    background: var(--main-color);
    transition: var(--basic-transition);
}

.gnb li a:hover b::after {
    width: 100%; /* w100p로 늘려줌 */
}
.btn-search {
    /* w54+h54+bd */
    width: 54px;
    height: 54px;
    border: 1px solid #000;
    background: #fff url(../img/ico-search.png) no-repeat 50%;
}

.visual {
    /* mw1920+m0-a+h584 */
    min-width: 1920px;
    margin: 0 auto;
    height: 584px;
}

.visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    /* image-rendering: crisp-edges; or pixelated */
    /* object-position: 50% 20%; */
}

.sec-title {
    /* fw700+fz34+c+tac */
    font-weight: 700;
    font-size: 34px;
    color: var(--title-color);
    text-align: center;
}

.research {
    /* p80+0-66 */
    padding: 80px 0 66px;
    background: var(--gray-light);
}

.research-list {
    /* background: green; */
    margin-top: 61px;
    display: flex; /* 플렉스 박스 */
    flex-wrap: wrap; /* fxww : 부모가 자식을 감싸라! */
    gap: 20px; /* g20 */
}

.research-list li {
    /* border: 1px solid #000; */
    /* w380+h200 */
    width: 380px;
    height: 200px;
    /* flex-shrink: 0; 쉬링크 그로우 -> 줄어드는 가로 기본값(줄어들지 말아라) */
    background: #fff;
    padding: 36px 38px; /* p36-38 */
}

.research-list li a {
    display: flex;
    gap: 29px;
}
.research-list li a::before {
    /* ct+db+w71+h60+bg */
    content: "";
    display: block;
    width: 71px;
    height: 60px;
    background: no-repeat 50%;
    flex-shrink: 0;
}

.research-list li:nth-child(1) a::before {
    background-image: url(../img/research-icon01.png);
}
.research-list li:nth-child(2) a::before {
    background-image: url(../img/research-icon02.png);
}
.research-list li:nth-child(3) a::before {
    background-image: url(../img/research-icon03.png);
}
.research-list li:nth-child(4) a::before {
    background-image: url(../img/research-icon04.png);
}
.research-list li:nth-child(5) a::before {
    background-image: url(../img/research-icon05.png);
}
.research-list li:nth-child(6) a::before {
    background-image: url(../img/research-icon06.png);
}
.research-list li:nth-child(7) a::before {
    background-image: url(../img/research-icon07.png);
}
.research-list li:nth-child(8) a::before {
    background-image: url(../img/research-icon08.png);
}
.research-list li:nth-child(9) a::before {
    background-image: url(../img/research-icon09.png);
}
