@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --main-color: #12562f;
    --title-color: #111;
    --bg-color: #f3f6f6;
    --bg-color-dark: #232f28;
    --text-color: #666;
    --white60: rgba(255, 255, 255, 0.6);
}

::selection {
    background: var(--main-color);
    color: #fff;
}

html {
    font-size: 100%; /* fz100p = 16px */
    font-size: 62.5%; /* fz62.5p = 10px = 1rem */
    scroll-behavior: smooth;
}

body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize; /* ttc: 단어의 첫글자를 대문자로 */
    word-break: keep-all; /* wbka */
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: var(--main-color);
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.inner {
    /* w134.4r+m0-a+bg */
    width: 134.4rem;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.3); */
}

#header nav {
    height: 10rem; /* h10r */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: block;
    /* w17.9r+h5r */
    width: 17.9rem;
    height: 5rem;
    background: url(../img/logo.svg) no-repeat 0 0 / contain;
}

.gnb {
    display: flex;
    margin-left: auto; /* mla */
    margin-right: 5rem;
}

.gnb li a {
    display: block;
    padding: 1rem 3rem;
    /* fw700+fz2r+c */
    font-weight: 700;
    font-size: 2rem;
    color: var(--title-color);
    position: relative; /* posr */
}

.gnb li a:hover {
    color: var(--main-color);
}

.gnb li a::after {
    content: ""; /* ct */
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%); /* trftx */
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: var(--main-color);
    opacity: 0; /* op0 */
    transition: cubic-bezier(0, 0.73, 0.22, 1.3) 0.4s; /* trs.4s */
}
.gnb li a:hover::after {
    top: 0;
    opacity: 1; /* op1 */
}

.util-menu a {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../img/ico-login.svg) no-repeat 50%;
    border: 1px solid var(--main-color);
    border-radius: 50%;
}

#footer {
    padding: 7.7rem 0;
    background: var(--bg-color-dark);
    color: var(--white60);
}

.foot-logo {
    width: 17.9rem;
    height: 5rem;
    background: url(../img/foot-logo.svg) no-repeat 0 0;
}

address {
    margin-top: 2.8rem;
}
address dl {
    display: flex;
    flex-wrap: wrap; /* fxww */
    gap: 0.8rem 1.6rem;
    width: 28.5rem;
    font-size: 1.5rem;
}

address dl dt {
    font-weight: 700;
}

address dl dd {
    flex: 1 1 73%;
}

address > p {
    margin-top: 3.2rem;
    font-weight: 700;
}

.btn-top {
    position: fixed;
    bottom: 20.7rem;
    right: 29rem;
    width: 5.4rem;
    height: 5.4rem;
    background: #000 url(../img/ico-top.svg) no-repeat 50%;
    border-radius: 50%;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: 0.4s;
}

.btn-top.active {
    opacity: 1;
    bottom: 22.7rem;
}

/* 애니메이션 정의 */
@keyframes revealAni {
    0% {
        clip-path: inset(50% 20%);
    }

    100% {
        clip-path: inset(0);
    }
}

@keyframes fadeScale {
    0% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes fadeText {
    0% {
        /* transform: translateY(50px); */
        opacity: 0;
        filter: blur(10px);
        /* letter-spacing: 50px; */
    }

    100% {
        /* transform: translateY(0); */
        opacity: 1;
        filter: blur(0);
        /* letter-spacing: 0; */
    }
}

@keyframes slideLeft {
    0% {
        /* op0+trftx */
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
