@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 기본적인 전체 디자인 정의 : reset
다른 a나 글꼴, 루트 변수 같은건 : common 
메인디자인은 : main */
:root {
    /* 루트 변수 */
    --main-color: #12562f;
    --title-color: #111;
    --bg-color: #f3f6f6;
    --text-color: #666;
}

/* root */
html {
    /* font-size: 100%; fz100p = 16px */
    font-size: 62.5%; /* fz62.5p = 10px = 1rem  */
}
body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize; /* ttc : 영어 단어의 첫 글자를 대문자로 바꾸는 코드 */
    word-break: keep-all; /* wbka : 어절 단위의 줄바꿈 */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

hr,
.hidden {
    /* poa+m-1+w1+h1+oh */
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(
        0,
        0,
        0,
        0
    ); /* 클리핑 마스크로 위의 영역을 안보이게 하는거랑 비슷함 */
}

.inner {
    /* w134.4r+m0-a+bg */
    width: 134.4rem;
    margin: 0 auto;
    background: rgba(255, 255, 0, 0.3);
}

#header {
}

/* 전기가 나갔던 불쌍한 이들을 위하여 */
#header nav {
    height: 10rem; /* h10r */
    display: flex; /* df */
    justify-content: space-between; /* jcsb -> 메인축기준 중앙정렬 */
    align-items: center; /* aic -> 교차축기준 중앙정렬 */
}

.logo a {
    /* db+w17.9r+h5r */
    display: block;
    width: 17.9rem;
    height: 5rem;
    background: url(../img/logo.svg) no-repeat 0 0;
}

.gnb {
    display: flex; /* df : 플렉스 박스 활성화 */
    margin-left: auto; /* mla : 왼쪽공간 밀어버리기 (오른쪽으로 밀기)*/
    margin-right: 5rem; /* mr5r : 마진을 줘서 떼어버림 */
}

.gnb li a {
    /* db+p1r-3r+fw700+fz2r+c+por */
    display: block;
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 2rem;
    color: var(--title-color);
    position: relative; /* 직계조상 기준점 */
}

/* 호버했을 때 메인 컬러로 */
.gnb li a:hover {
    color: var(--main-color);
}

.gnb li a::after {
    /* ct+db+poa+t0+l0p+trftx+w1rem+h1rem+bdrs50p+bg+op0+trs.4s */
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: var(--main-color);
    opacity: 0;
    transition: cubic-bezier(0, 0.65, 0.51, 1.11) 0.4s; /* 호버효과 미리 대기 */
}

.gnb li a:hover::after {
    /* t0+op1 */
    top: 0; /* 마치 떨어지는 것처럼 호버효과가 나옴! */
    opacity: 1;
}

.util-menu a {
    /* db+w4r+h4r+bg */
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../img/ico-login.svg) no-repeat 50%;
    border: 1px solid #000; /* bd */
    border-radius: 50%; /* br50p */
}

.visual {
    /* mw192r+m0-a+h64.6r+bg+por+oh */
    min-width: 192rem;
    margin: 0 auto;
    height: 64.6rem;
    background: #f00;
    position: relative; /* 기준점 */
    overflow: hidden;
}

.visual figure {
    /* w100p+h100p */
    width: 100%;
    height: 100%;
}

.visual figure iframe {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    /* w1920+h1080+poa+t50p+l50p+trft  */
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual-title {
    /* poa+t50p+l288+trfty+bg */
    position: absolute;
    top: 50%;
    /* left: 288px; */
    left: 15%;
    transform: translateY(50%);
    /* background: #f00; */
}

.visual-title h2 {
    /* fw900+fz8r+c#a0ffc8+lhl.1 */
    font-weight: 900;
    font-size: 8rem;
    color: #a0ffc8;
    line-height: 1.1;
}
.visual-title p {
    /* fz4.8r+c#fff+mt1.2r */
    font-size: 4.8rem;
    color: #fff;
    margin-top: 1.2rem;
}
.visual-title p strong {
    /* fw600*/
    font-weight: 600;
}
