@charset "utf-8";

.visual {
    max-width: 192rem;
    height: 64.6rem;
    margin: 0 auto;
    /* border: 10px solid #f00; */
    position: relative;
    overflow: hidden;

    animation: revealAni 2s;
}

.visual iframe {
    /* width: 100%;
  height: 100%;
  object-fit: cover; */
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fadeScale 2s;
}

.visual-title {
    position: absolute;
    top: 50%;
    left: 288px;
    left: 15%;
    transform: translateY(-50%);
    /* background: red; */
    z-index: 1; /* z1 */
}

.visual-title h2 {
    /* fw900+fz8r+c */
    font-weight: 900;
    font-size: 8rem;
    color: #a0ffc8;
    line-height: 1.1;

    animation: fadeText 1s 2.5s both;
}
.visual-title p {
    font-size: 4.8rem;
    color: #fff;
    margin-top: 1.2rem;

    animation: fadeText 1s 2.8s both;
}
.visual-title p strong {
    font-weight: 600;
}

.visual::after {
    content: "";
    position: absolute;
    /* t0+l0+r0+b0 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;

    /* 마우스와 관계없는 요소로 만들기 */
    pointer-events: none;
    user-select: none;
}

.intro {
    padding: 12rem 0 14rem;
    text-align: center; /* tac */
}

.intro-title h3 {
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--title-color);
}
.intro-title p {
    font-weight: 500;
    font-size: 2.4rem;
    width: 74rem;
    margin: 0 auto;
    margin-top: 2.4rem;
}

.intro-list {
    background: var(--bg-color);
    display: flex;
    justify-content: center; /* jcc */
    gap: 10.8rem;
    padding: 8rem 0;
    margin-top: 9.7rem;
}
.intro-list li {
    /* border: 1px solid #000; */
    /* w30r+mih26.2r */
    width: 30rem;
    min-height: 26.2rem;

    display: flex;
    flex-direction: column-reverse; /* fxdcr */
    flex-direction: column; /* fxdc */
    align-items: center; /* aic */
    gap: 2.4rem;
    justify-content: center;
    padding: 1rem 3.5rem;
}

.intro-list li::before {
    content: "";
    display: block;
    /* w10.6r+h10.6r+bdrs50p+bg */
    width: 10.6rem;
    height: 10.6rem;
    border-radius: 50%;
    background: var(--main-color) no-repeat 50%;
}

.intro-list li:nth-child(1)::before {
    background-image: url(../img/ico-intro1.svg);
}
.intro-list li:nth-child(2)::before {
    background-image: url(../img/ico-intro2.svg);
}
.intro-list li:nth-child(3)::before {
    background-image: url(../img/ico-intro3.svg);
}

.intro-list li dl dt {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--main-color);
}

.intro-list li dl dd {
    margin-top: 2.4rem;
    font: 500px;
    font-size: 2rem;
}

.link-list {
    display: flex;
    height: 39.5rem;
}

.link-list li {
    /* border: 1px solid #000; */

    flex-grow: 1; /* fxg1: 늘어날 수 있으면 늘어나라. */
    flex-shrink: 1; /* fxsh1: 줄어들어라 */
    flex-basis: auto; /* fxb: 기본 점유 공간 */

    /* fx1-1-a */
    flex: 1 1 auto;

    background: no-repeat 0 0 / cover;

    padding: 8rem 10rem;
    position: relative;
}

.link-list li:nth-child(1) {
    background-image: url(../img/b1.png);
}
.link-list li:nth-child(2) {
    background-image: url(../img/b2.jpg);
}

.link-list li a {
    display: flex;
    height: 100%;
    align-items: center;
}

.link-list li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: var(--main-color);
  opacity: 0.6; */
    background: rgba(18, 86, 47, 0.6);
    transition: 0.4s;
}

.link-list li:hover::before {
    /* opacity: 0.8; */
    background: rgba(18, 86, 47, 0.8);
    backdrop-filter: blur(5px);
}

.link-list li:hover .link-title {
    transform: translateX(20px);
}

.link-title {
    /* background: #55f; */
    color: #fff;
    z-index: 1;
    transition: 0.4s;
}

.link-title h4 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 1; /* lh1 */
}
.link-title h4 b {
    display: block;
}
.link-title p {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2.1rem;
}
