@charset "utf-8";

.visual figure button {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.visual figure button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
