@charset "utf-8";

.sub-visual {
    /* mw192r+h36r+m0-a+bg */
    min-width: 192rem;
    height: 36rem;
    margin: 0 auto;
    background: #000 no-repeat 0 0 / cover;

    animation: revealAni 2s;
}

.company .sub-visual {
    background-image: url(../img/sub-visual-1.jpg);
}
.franchise .sub-visual {
    background-image: url(../img/sub-visual-2.jpg);
}
.notice .sub-visual {
    background-image: url(../img/sub-visual-3.jpg);
}
.financial .sub-visual {
    background-image: url(../img/sub-visual-4.jpg);
}

.sub-visual .inner {
    height: 100%; /* h100p */
    display: flex; /* 플렉스 박스 */
    align-items: center; /* 교차축방향 중앙정렬 */
}

/* 공통으로 지정해서 패딩을 줌 (코드 간소화) */
.sub-visual + section {
    padding: 12rem 0 22rem;
}

.sub-title h2 {
    /* fw900+fz6r+c#fff */
    font-weight: 900;
    font-size: 6rem;
    color: #fff;
}

.sub-title h2 b {
    display: block;
    animation: slideLeft 0.6s 2s both;
}

.sub-title h2::before {
    /* ct+db+w5.6r+h.6r+bg#fff */
    content: "";
    display: block;
    width: 5.6rem;
    height: 0.6rem;
    background: #fff;
    animation: slideLeft 0.6s 2.3s both;
}

/* CEO 인사말 */
.sec-title {
    /* tac+fw700+fz5r+c */
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    color: var(--title-color);
}

.greeting-con {
    /* background: #5f5; bg#5f5 */
    display: flex; /* df : 플렉스박스 */
    justify-content: space-between; /* jcsb : 남는 여백 균등히 나눠가짐 */
    margin-top: 8rem; /* mt8r */
}

.greeting-con figure {
    /* border: 1px solid #000; */
    width: 49rem;
}
.greeting-con .greeting-text {
    /* border: 1px solid #000; */
    width: 77.4rem;
}

.greeting-con .greeting-text h4 {
    /* fw900+fz6r+c */
    font-weight: 900;
    font-size: 6rem;
    color: var(--title-color);
}
.greeting-con .greeting-text h5 {
    /* fw600+fz3r+c+mt3.2r */
    font-weight: 600;
    font-size: 3rem;
    color: var(--main-color);
    margin-top: 3.2rem;
}
.greeting-con .greeting-text p {
    /* fw500+fz2r+c+mt3.2r */
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-color);
    margin-top: 3.2rem;
}
.greeting-con .greeting-text .ceo-sign {
    /* mt3.2r+db */
    margin-top: 3.2rem;
    display: block;
}

/* 가맹점 개설 절차 */
.process-list {
    /* background: #5f5; bg#5f5 */
    display: flex; /* df */
    flex-wrap: wrap; /* fxww : 부모가 자식을 감싸는; */
    gap: 4rem 7.2rem; /* g4r-7.2r */
    margin-top: 8rem; /* mt8r */
    counter-reset: process-count; /* 1. 프로세스 카운터 정의 */
}
.process-list li {
    /* bd+w40r+h30r+bg#fff+p3r-0*/
    border-top: 3px solid var(--title-color);
    width: 40rem;
    height: 30rem;
    background: #fff;
    padding: 3rem 0;
    /* 2. 증가 시킴 */
    counter-increment: process-count;
}
.process-list li dl dt {
    /* fw700+fz4r+c */
    font-weight: 700;
    font-size: 4rem;
    color: var(--main-color);
    display: flex; /* 플렉스박스 */
    gap: 2.8rem; /* g2.8r */
    position: relative; /* 절대 배치의 기준점 (부모) */
}

.process-list li dl dt::before {
    /* 3. 증가시킨 카운터 표시 */
    content: "0" counter(process-count);
}

.process-list li dl dt::after {
    /* ct+poa+b0+l0+w90p+h40p+bg+op.4 */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 45%;
    background: peru;
    opacity: 0.4;
}
.process-list li dl dd {
    /* fw500+fz2r+mt1.6r */
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1.6rem;
}

.process-list li:hover dl dt::after {
    /* w90p+trs.4s */
    width: 90%;
    transition: 0.4s;
}

/* SNS */
.sns-list {
    display: flex; /* df : 플랙스 박스 */
    flex-wrap: wrap; /* fxww :  플렉스 공간 줄바꿈 명령 */
    gap: 1.9rem; /* g1.9r */
    margin-top: 8rem; /* mt8r */

    /* background: #5f5; */
}

.sns-list li {
    flex: 1 1 20%;
    /* bd+w25.5r+h25.5r+por */
    border: 1px solid rgba(0, 0, 0, 0.2);
    aspect-ratio: 1/1; /* 가로를 기준으로 한 세로 비율(종횡비) */
    position: relative;
}

.sns-list li figure {
    height: 100%; /* h100p */
}

.sns-con {
    /* poa+t0+l0+r0+b0+bg */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 41%,
        rgba(255, 255, 255, 1) 41%
    ); */ /* -> 그라디언트를 이용해서 스프라이트 만들기 */

    /* background: rgb(255, 51, 153);
    background: linear-gradient(
        0deg,
        rgba(255, 51, 153, 1) 0%,
        rgba(255, 51, 153, 1) 41%,
        rgba(255, 255, 85, 1) 41%
    ); */
    background: rgb(255, 25, 83); /* 옛날 브라우저를 위한 조치 */
    background: linear-gradient(
        333deg,
        rgba(255, 25, 83, 0.8) 0%,
        rgba(254, 130, 3, 0.8) 35%,
        rgba(252, 1, 216, 0.8) 68%,
        rgba(125, 11, 253, 0.8) 100%
    );
    opacity: 0; /* op0 */
    padding: 2rem; /* p2r */
    color: #f7e7eb; /* c#f7e7eb */
    display: flex; /* df : 플랙스박스 */
    align-content: center; /* jcc : 메인축기준 중앙정렬 */
    align-items: center; /* aic : 교차축기준 중앙정렬 */
    transition: 0.4s; /* trs.4s */
}

.category {
    /* poa+t2r+l2r+w3.8r+h3.8r+bg+bdrs50p */
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3.8rem;
    height: 3.8rem;
    background: rgba(0, 0, 0, 0.3) no-repeat 50%;
    border-radius: 50%;

    z-index: 1;
}

.category-insta {
    background-image: url(../img/ico_w_i.png);
}

.sns-list li a::after {
    /* ct+poa+t2r+l2r+w3.8r+h3.8r+bg+bdrs50p */
    content: "";
    position: absolute;
    bottom: 2rem;
    right: -6rem;
    width: 3.8rem;
    height: 3.8rem;
    background: url(../img/ico_link02.png) no-repeat 50%;
    opacity: 0;
}

/* 호버 효과 */

.sns-list li:hover .sns-con {
    opacity: 1; /* op1 */
}
.sns-list li:hover a::after {
    opacity: 1; /* op1 */
    right: 2rem; /* r2r */
    transition: 0.4s 0.4s; /* trs.4s-.4s */
}

/* 재무 정보 */
.financial-info-tdl {
    margin-top: 8rem;
}

.financial-info-tdl p {
    /* tar+fw500+fz1.4r */
    text-align: right; /* tar (텍스트를 오른쪽으로 밀어버리는 기능) */
    font-weight: 500;
    font-size: 1.4em;
}

.financial-info-tdl > table {
    /* bdt3px */
    border-top: 3px solid var(--title-color);
    margin-top: 1.6rem;
}

.financial-info-tdl > table thead tr th {
    /* h6r+bdb */
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam : 세로기준 중앙으로 */
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center; /* 텍스트를 가운데로 (가운데 정렬) */
}

.financial-info-tdl > table colgroup col + col {
    border-left: 1px solid var(--black20);
    font-weight: 700;
}

.financial-info-tdl > table tbody tr th {
    /* h6r+bdb */
    height: 6rem;
    /* font-weight: 700; */
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam : 세로기준 중앙으로 */
    font-size: 1.6rem;
    text-align: left; /* 텍스트를 가운데로 (가운데 정렬) */
    padding-left: 3.2rem;
    /* background: var(--bg-color); */
}

.financial-info-tdl > table tbody tr td {
    /* h6r+bdb */
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam : 세로기준 중앙으로 */
    font-size: 1.6rem;
    text-align: center; /* 텍스트를 가운데로 (가운데 정렬) */
}

.financial-info-tdl > table tfoot tr th {
    /* h6r+bdb */
    height: 6rem;
    /* font-weight: 700; */
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam : 세로기준 중앙으로 */
    font-size: 1.6rem;
    text-align: left; /* 텍스트를 가운데로 (가운데 정렬) */
    color: var(--main-color);
    padding-left: 3.2rem;
}

.financial-info-tdl > table tfoot tr td {
    /* h6r+bdb */
    height: 6rem;
    border-bottom: 1px solid var(--black20);
    vertical-align: middle; /* vam : 세로기준 중앙으로 */
    font-size: 1.6rem;
    text-align: center; /* 텍스트를 가운데로 (가운데 정렬) */
    color: var(--main-color);
}

.financial-info-tdl > table .sum > * {
    background: var(--bg-color);
    font-weight: 700;
    color: var(--title-color);
}

.financial-info-tdl > table .sum2 > * {
    background: var(--bg-color);
    font-weight: 700;
    color: var(--main-color);
}
