@charset "utf-8";

header {
  /* w1200+h100+m0-a+bg */
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background: violet;
}

/* .main에 height를 정해서 주지않고 min-height를 준다. (추가적으로 삭제/확장이 가능하게끔) */
.slider {
  /* w1200+m0-a */
  width: 1200px;
  margin: 0 auto;
  min-height: 300px; /* mih300 */
  background: aquamarine;
}

.contents {
  /* w1200+m0-a */
  width: 1200px;
  margin: 0 auto;
  min-height: 200px; /* mih200 */
  background: yellowgreen;
  display: flex; /* df : 가로배치를 위하여 -> 자동으로 aic: strich를 적용시킴
  자동으로 세로 크기가 채워짐 (부모의 세로크기만큼!)*/
}

.board {
  width: 34%; /* 이게 제일 편한듯 ㅇㅇ;; */
  background: purple;
}
.banner {
  width: 33%;
  background: green;
}
.link {
  width: 33%;
  background: teal;
}

footer {
  /* w1200+h100+m0-a+bg */
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background: aqua;
}
