@charset "utf-8";

body {
    margin: 0;
    background-color: #fff;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

.table {
    padding: 10px;
    width: 1400px;
    margin: 50px auto; /* Added margin-top to push containers down */
    background: linear-gradient(135deg, #ffccff, #ccffff);
    animation: gradientBG 15s ease infinite;
}

.title {
    padding: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 컨테이너 공통 스타일 */
.container {
    width: 390px;
    height: 484px;
    border: 1px solid gray;
    margin: 10px; /* Adjust the margin to create space between containers */
    float: left;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background to make text readable */
    animation: moveUpDown 5s ease-in-out infinite;
}

.container > p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container > h2 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container > p > b {
    padding: 5px;
    font-weight: normal;
    color: gray;
}

/* 이미지를 위한 스타일 */
.img {
    text-align: center;
    padding: 5px;
}

/* More on link */
.moreon {
    float: right;
}

/* Animation for background gradient */
@keyframes gradientBG {
    0% {
        background: linear-gradient(135deg, #ffccff, #ccffff);
    }
    50% {
        background: linear-gradient(135deg, #ccffff, #ffccff);
    }
    100% {
        background: linear-gradient(135deg, #ffccff, #ccffff);
    }
}

/* Animation for container movement */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
