@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 변수선언 + 기본 폰트 크기 정의 */
:root {
    /* fz62.5p = 10px */
    font-size: 62.5%;
    --main-color: #504b4b;
    --main-color-dark: #292424;
    --dark-color: #2c2c2c;
    --title-color: #000;
    --text-color: #555;
    --grid-color: rgba(255, 255, 0, 0.2);
    --sub-color: #e9e2d4;
    --white-100: rgba(255, 255, 255, 1);
    --white-90: rgba(255, 255, 255, 0.9);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-40: rgba(255, 255, 255, 0.4);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-10: rgba(255, 255, 255, 0.1);
    --dark-100: rgba(0, 0, 0, 1);
    --dark-90: rgba(0, 0, 0, 0.9);
    --dark-80: rgba(0, 0, 0, 0.8);
    --dark-70: rgba(0, 0, 0, 0.7);
    --dark-60: rgba(0, 0, 0, 0.6);
    --dark-50: rgba(0, 0, 0, 0.5);
    --dark-40: rgba(0, 0, 0, 0.4);
    --dark-30: rgba(0, 0, 0, 0.3);
    --dark-20: rgba(0, 0, 0, 0.2);
    --dark-10: rgba(0, 0, 0, 0.1);
    --dark-0: rgba(0, 0, 0, 0);
}

/* 디자인 초기화 */
hr,
.hidden {
    /* poa+m-1+w1+h1+oh+clip */
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

a {
    /* tdn+c */
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

body {
    font: 2rem/1.5 "Montserrat", sans-serif;
    text-transform: capitalize; /* ttc : 첫번째 글자는 대문자로 */
    color: var(--text-color);
    word-break: keep-all; /* wbka : 자연스럽게 줄바꿈 -> 단어별로 */
    overflow-x: hidden; /* ovxh -> x축으로 overflow되는 애는 숨겨라! */
    min-width: 32rem; /* 반응형을 위해 배려 -> 최소 이만큼은 그려라 */
}

::selection {
    background: var(--main-color);
    color: var(--sub-color);
}

/* 공통 디자인 */
.btn-basic {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    border: 1px solid var(--white-50);
    border-radius: 5rem;
    font-weight: 700;
    font-size: 2rem;
    color: var(--white-100);
}
