@charset "utf-8";

/* inner */

.inner {
    /* w118r+m0-a+bg */
    width: 118rem;
    margin: 0 auto;
    /* background: var(--grid-color); */
}

#header {
    /* poa+t0+l0+w100p+z10*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header nav {
    /* h9r+bg#5f5 */
    height: 9rem;
    /* background: #5f5; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    /* db+w4r+h4.8r+bg#f00+fz4r+bg#f00+fz4r+tac+lh1+c */
    display: block;
    width: 4rem;
    height: 4.8rem;
    /* background: #f00; */
    font-size: 4rem;
    text-align: center;
    line-height: 4.8rem; /* 아이콘 폰트이기 때문에 글자를 키워야 들어감 + 세로기준 중앙잡기 -> 영역의 높이와 똑같이 크기를 줌 */
    color: var(--white-100);
}
.gnb {
    display: flex; /* df */
    margin-left: auto; /* mla */
    margin-right: 3rem; /* mr3r */
}
.gnb li {
    /* fw700+fz1.8r+c#fff+db+p1r-3r */
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--white-100);
    display: block;
    padding: 1rem 3rem;
}

/* .util-menu {
} */

.util-menu .btn-login {
    /* w4r+h4r+bd+bdrs50p */
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--white-50);
    border-radius: 50%;
    color: var(--white-100);
    background: transparent;
}

.visual {
    /* h63.7r+oh+por */
    height: 63.7rem;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.visual::after {
    /* ct+poa+t0+l0+w100p+h100p+bg */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-50);
}

.visual .video-wrap {
    /* w100p+h100p */
    width: 100%;
    height: 100%;
}

.visual .video-wrap video {
    /* w100p+h100p+obf */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual-title {
    /* bg#f00+poa+t50p+l50p+trft+c+tac */
    /* background: #f00; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115rem;
    color: var(--sub-color);
    z-index: 2;
    text-align: center;
}

.visual-title h2 {
    /* fw700+fz7.6r */
    font-weight: 700;
    font-size: 7.6rem;
}
.visual-title p {
    /* mt1r+fw500+p0-26r */
    margin-top: 1rem;
    font-weight: 500;
    padding: 0 26rem;
}

.visual-title .btn-cta {
    margin-top: 2.8rem;
}

#main > section {
    /* p8r-0*/
    padding: 8rem 0;
}

.about-con {
    /* mt4.3r+w88r+m0-a */
    margin-top: 4.3rem;
    width: 88rem;
    margin: 0 auto;
    /* background: #5f5; */
}

.about-con figure {
    aspect-ratio: 1/0.3636; /* asr */
}

.about-con p {
    /* mt2.8r+p0-11r+tac */
    margin-top: 2.8rem;
    padding: 0 11rem;
    text-align: center;
}

.team {
    background-color: var(--main-color);
    color: var(--sub-color);
    text-align: center;
}

.team-list {
    /* mt4r */
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.team-list li {
    border: 1px solid var(--white-100);
    width: 28rem;
    min-height: 33rem;
    padding: 2rem;
}

.team-list li figure {
    aspect-ratio: 1/1; /* asr */
    border-radius: 50%; /* bdrs50p : 동글동글하게! */
    overflow: hidden; /* 튀어나가는 부분 없애기 */
}

.team-list li dl {
    /* mt2r */
    margin-top: 2rem;
}
.team-list li dl dt {
    /* fw700+fz2.4r */
    font-weight: 700;
    font-size: 2.4rem;
}
.team-list li dl dd {
    /* fz1.8r+mt.8r */
    font-size: 1.8rem;
    margin-top: 0.8rem;
}

.btn-work-with {
    /* mt4.8r */
    margin-top: 4.8rem;
}

.work-list {
    /* mt4.3r+bg#5f5+dg+g2r */
    margin-top: 4.3rem;
    /* background: #5f5; */
    display: grid; /* dg -> 약간 표 그리듯이 그리고 합친다고 생각하면 쉬움~! 
    메인축 교차축 다 되는데 이건 여기저기 붙이는 레이아웃을 그나마 할 수 있음!*/
    grid-template-columns: 48rem 33rem 33rem; /* gtc */
    grid-template-rows: repeat(
        2,
        1fr /* 프렉션 : 분수단위(그리드에서) -> 같은비율로 2개를 만들겠다. */
    ); /* gtr */
    gap: 2rem;
}

.work-list li:nth-child(1) {
    /* 아이템한테 주는 명령 (그리드의 아이템에게 number로 표현하는 방식의 코딩방법) */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1/2;
    grid-row: 1/3;
}

.work-info {
    /* background-color: var(--white-50); */
    /* p2.8r-0 */
    padding: 2.8rem 0;
}
.work-info h4 {
    /* mt2.8r+fw700+fz2.4r+c */
    margin-top: 2.8rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--title-color);
}
.work-info p {
    /* fz1.8r+mt.8r */
    font-size: 1.8rem;
    margin-top: 0.8rem;
}

.request-wrap {
    /* w48.8r+h5.4r+bd */
    width: 48.8rem;
    height: 5.4rem;
    border: 1px solid var(--dark-40);
    margin: 5.2rem auto 0;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    background: var(--white-100);
}

.request-wrap input {
    /* fx1-1-a+p0-2.4r */
    flex: 1 1 auto;
    padding: 0 2.4rem;
    outline: none; /* 보더 밖의 아웃라인 없애기 */
}

.btn-request {
    /* w21.4r+bg+c#fff+fw700 */
    width: 21.4rem;
    background: var(--dark-100);
    color: var(--white-100);
    font-weight: 700;
    border-radius: 5rem;
}

.map {
    padding: 0 !important;
    height: 68rem;
}

.map-wrap {
    /* w100p+h100p */
    width: 100%;
    height: 100%;
}

.map-wrap iframe {
    /* w100p+h100p */
    width: 100%;
    height: 100%;
}

#footer {
    background: var(--dark-color);
    color: var(--sub-color);
    padding: 5.6rem 0;
}

.foot-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-weight: 700;
    font-size: 1.6rem;
}

.sns-list {
    display: flex;
    gap: 2.4rem;
}
.sns-list li a {
    /* db+w4.8r+h4.8r+bd+bdrs50p */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 2.2rem; /* 폰트 사이즈로 크기를 조정함 */
}
