@charset "utf-8";

.inner {
    /* w1340+m0-a+bg#ff5 */
    width: 1340px;
    margin: 0 auto;
    background: #ff5;

    height: 100%;
}

header {
    /* h100+bg */
    height: 100px;
    background: red;
}

header nav {
    display: flex;
    justify-content: space-between; /* jcsb */
    align-items: center; /* aic */
    height: 100%; /*  h100p */
}

.logo {
    /* w190+h44+bd */
    width: 190px;
    height: 44px;
    border: 1px solid #000;
}

.gnb {
    display: flex; /* 가로가 되어야할 애의 부모한테 */
    align-self: flex-end; /* 너만 밑으로 내려가 */
}
.gnb > li {
    position: relative; /* por : 직계 자손 절대배치의 기준점 */
}
.gnb > li > a {
    /* w170+bd+db+p12-0+tac */
    width: 170px;
    border: 1px solid #000;
    display: block;
    padding: 12px 0;
    text-align: center;
}

.gnb_bg {
    /* poa+t100px+l0+w100p+h220+bg */
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 220px;
    background: #000;
    z-index: 9;
}

.submenu {
    /* display: none; */

    background: blue;
    /* poa+t0+l0 */
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.submenu li a {
    /* db+p10+tac */
    display: block;
    padding: 10px;
    text-align: center;
}

.visual {
    height: 350px;
    background: skyblue;
    position: relative;
}

.link {
    height: 80px;
    /* background: orange; */

    /* position: absolute;
    top: 370px;
    left: 0;
    width: 100%; */

    /* transform: translateY(-100%); 지 혼자만 밀리는 문제가 있음 */

    margin-top: -80px;
    position: relative;
    z-index: 10;
}

.link .inner {
    /* bg#fff+bdrs20 */
    background: #fff;
    border-radius: 20 20 0 0px;
}

.banner {
    height: 200px;
    background: tomato;
}

.board {
    min-height: 350px;
    background: green;
}

footer {
    /* h100+bg */
    height: 100px;
    background: black;
}
