@charset "utf-8";

* {
    /* m0+p0+bxbb */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

table {
    /* w100p+bdclc+bdsp0 */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
